<div id="<%= dom_id report %>">
  <p>
    <strong>作成者:</strong>
    <% user = User.find(report.user_id) %>
    <%= user.name.empty? ? user.email : user.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= report.content %>
  </p>

  <p>
    <strong>投稿日時:</strong>
    <%= report.created_at.strftime('%Y-%m-%d %H:%M') %>
  </p>

</div>
