<h1>日報の詳細</h1>

<div class="show-item">
  <%= render partial: 'reports/report', locals: { report: @report } %>
</div>

<nav class="page-nav">
  <% is_my_report = current_user == @report.user %>
  <% if is_my_report%>
    <%= link_to "Edit this report", edit_report_path(@report) %> |
  <% end %>
  <%= link_to "Back to reports", reports_path %>

  <%= button_to "Destroy this report", @report, method: :delete  if is_my_report %>
</nav>

<% if @report.comments.empty? %>
  <p>コメントはありません。</p>
<% else %>
  <%= render partial: 'comments/comment', collection: @report.comments %>
<% end %>

<%= render partial: 'comments/form', locals: { commentable: @report } %>
