<h1>日報の詳細</h1>

<div class="show-item">
  <%= render @report %>
</div>

<nav class="page-nav">
  <% is_my_report = current_user == @report.user %>
  <% if is_my_report%>
    <%= link_to "Edit this report", edit_report_path(@report) %> |
  <% end %>
  <%= link_to "Back to reports", reports_path %>

  <%= button_to "Destroy this report", @report, method: :delete  if is_my_report %>
</nav>

<%= render partial: @report.comments %>

<%= render 'comments/form', commentable: @report %>
