<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render partial: 'reports/report', locals: { report: @report } %>
</div>

<nav class="page-nav">
  <% is_my_report = current_user == @report.user %>
  <% if is_my_report %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %> |
  <% end %>
  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>

  <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete  if is_my_report %>
</nav>

<% if @report.comments.empty? %>
  <p><%= t 'views.common.not_exist', name: Comment.model_name.human %></p>
<% else %>
  <%= render partial: 'comments/comment', collection: @report.comments %>
<% end %>

<%= render partial: 'comments/form', locals: { commentable: @report, comment: @comment} %>
